app:
  image:
    name: docker.galament.net/colorbot/colorbot
    tag: 61f1fda1
  resources:
    api:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "3"
        memory: "2Gi"
