app:
  image:
    name: docker.galament.net/colorbot
    tag: "1.0.2"
  resources:
    api:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "3"
        memory: "2Gi"
